
body {
	padding: 20px;
	width: 70%;
}

code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  margin: 20px;
  line-height: 1.2;
}

present {
  background-color: #efddb7;
  border: 1px solid #999;
  display: block;
  padding: 20px;
  margin: 20px;
  line-height: 1.2;
}

#map { height: 300px; }
#map2 { height: 300px; }